<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
            <p><a href="https://www.cityu.edu.hk/bms/">Department of Biomedical Sciences</a> <a href="https://www.cityu.edu.hk/cbm/"> College of Biomedicine</a><br><a href="https://www.cityu.edu.hk/">City University of Hong Kong</a>.</p>
            

		   <p>  </p><p>
            		  
            
		</div>
		<div class="col-sm-4">
		  Funding: City University of Hong Kong<br />
		</div>
		<div class="col-sm-4">
		  Contact:<br />
		  RM 304, 3/F, TYB-1A<br />
		  31 To Yuen Street<br />
		  Hong Kong <br />
            (<a href="https://goo.gl/maps/pbi7KYcFGfsET2147">Maps</a>, <a href="https://www.cityu.edu.hk/bms/about/contact.htm">Contacts</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
